.popup-menu {
  width: 50%;
  position: absolute;
  padding: 15% calc((50vw - 340px)/2 - 60px) 30px;
  background: #fff;
  height: 100%;
  box-sizing: border-box;
  z-index: 20;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  display: none;
}
.popup-menu .menu-links {
  align-self: flex-start;
  font-size: 1.33em;
  white-space: pre-line;
}
.popup-menu .menu-links > div {
  margin-left: -5px;
  padding: 0 5px;
  cursor: pointer;
  width: 100%;
}
.popup-menu .menu-links > div span {
  font-size: 1.76em;
  font-weight: 700;
  position: absolute;
  top: -10px;
}
.popup-menu .menu-links > div .top,
.popup-menu .menu-links > div .bottom {
  position: relative;
  overflow: hidden;
  width: 210px;
  top: 0;
  height: 15px;
  display: inline-flex;
}
.popup-menu .menu-links > div.to-me .top,
.popup-menu .menu-links > div.to-me .bottom {
  width: 145px;
}
.popup-menu .menu-links > div .top::before {
  content: "";
  background: #f44336;
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: 0;
  left: 2px;
  z-index: 10;
  transition: all 0.3s;
}
.popup-menu .menu-links > div .bottom {
  height: 19px;
  top: -6px;
}
.popup-menu .menu-links > div .bottom::before {
  content: "";
  background: #f44336;
  position: absolute;
  width: 0%;
  height: 2px;
  top: 0;
  left: -2px;
  z-index: 10;
  transition: all 0.3s;
}
.popup-menu .menu-links > div .bottom span {
  top: initial;
  bottom: 0;
}
.popup-menu .menu-links > div:hover .top::before,
.popup-menu .menu-links > div:hover .bottom::before {
  width: 100%;
}
.popup-menu .menu-links > div:hover .top {
  transform: translateX(-2px) skewX(8deg);
}
.popup-menu .menu-links > div:hover .bottom {
  transform: translateX(2px) skewX(8deg);
}
.popup-menu .contactme > div {
  margin-bottom: 10px;
  width: 300px;
}
.popup-menu .contactme > div.email::before {
  content: "\02709";
  margin-right: 5px;
  color: #787878;
}
.popup-menu .contactme > div.number::before {
  content: "\0260F";
  margin-right: 5px;
}
/* переменные*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
}
a {
  text-decoration: none;
  color: inherit;
}
.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  padding: 70px;
}
.title {
  grid-column-start: 1;
  grid-column-end: 4;
  margin-bottom: 60px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 32px;
}
.item {
  height: 120px;
  line-height: 120px;
  margin: 10px 10px 30px;
  border-radius: 10px;
  box-shadow: 3px 20px 30px -19px #a9a9a9;
  cursor: pointer;
  transition: all 0.5s;
  color: #fff;
  font-weight: 500;
}
.item:hover {
  box-shadow: 0 5px 10px -8px, 0 15px 20px -14px #d7d7d7;
  transform: translateY(5px);
}
.item:nth-child(2) {
  background-image: linear-gradient(135deg, #fccf31 10%, #f55555 100%);
  box-shadow: 0px 17px 39px -20px #f93939;
}
.item:nth-child(2):hover {
  box-shadow: none;
}
.item:nth-child(3) {
  background-image: linear-gradient(135deg, #ce9ffc 10%, #7367f0 100%);
  box-shadow: 0px 17px 39px -20px #7367f0;
}
.item:nth-child(3):hover {
  box-shadow: none;
}
.item:nth-child(4) {
  background-image: linear-gradient(135deg, #ffed76 10%, #f89500 100%);
  box-shadow: 0px 17px 39px -20px #f89500;
}
.item:nth-child(4):hover {
  box-shadow: none;
}
.item:nth-child(5) {
  background-image: linear-gradient(135deg, #90f7ec 10%, #32ccbc 100%);
  box-shadow: 0px 17px 39px -20px #32ccbc;
}
.item:nth-child(5):hover {
  box-shadow: none;
}
.item:nth-child(6) {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  box-shadow: 0px 17px 39px -20px #fcb69f;
}
.item:nth-child(6):hover {
  box-shadow: none;
}
